<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.kit.ionic2wx" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ionic2_wx</name>
  <description>An awesome Ionic/Cordova app.</description>
  <author email="yanxiaojun617@163.com" href="http://www.gzkit.com.cn/">广州科腾信息集成部技术分部</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <allow-navigation href="*"/>
  <allow-navigation href="http://88.128.18.144:8100"/>
</widget>
