page-select-picture {
  .pictures {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 3px;
    background-color: #f1f1f1;
  }
  .pictures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  .add {
    font-size: 25px;
    color: #5c5c5c;
    text-align: center;
    border: solid 1px #e0dfe4;
    line-height: 54px;
    vertical-align: middle;
    border-radius: 6px;
  }

  .remove {
    position: absolute;
    right: -5px;
    top: -5px;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: red;
  }
}
